*{
	margin: 0;
	padding: 0;
}

body {
	font-size: 44px;
	background-color:#D1D1D1;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:1024px;
	min-width: 1440px;
}

#grid {
	width: 1440px;
	height: 1024px;
	border: 10px ;
	border-color: #D1D1D1;

	background: #D1D1D1;

	/* uncomment below to enable the grid */

	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 1fr

	
}



.item {
	background: #D1D1D1;
}


}


.box1 {
	position: absolute;
}




.circle1{
position: absolute;
right:70.95%;
top: 3.55%;



}




.x,.y{
	display:block;
	width: 30px;
	height:30px;
	
}


.x{
	animation: x 3s linear infinite alternate;

}

.y{
	background: red;
	border-radius:30px;
	animation: y 30s linear infinite alternate;
}

@keyframes x{
	100% {
		transform: translateX(calc(100vw - 30px));
	}
}

@keyframes y{
	100%{
		transform: translateY(calc(100vh - 15px));
	}
}






































