* {
    margin: 30px;
    padding: 0px;
    transition: background 1000ms ease;
    background-color:#242424;
}
a:link {
    color: yellow;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:hover{
    color: lightgrey;
    text-decoration: underline;
}
a:active {
    color: pink;
    text-decoration: none;
}
/*a{
    text-decoration-line: none;
}*/

body{

font-size: 20px;
font-family: "georgia"

}
.random {
	font-size: 300px;
	font-family: arial;
	position: absolute;
}

.bounding-box1 div, .bounding-box2 div, .bounding-box3 div, .bounding-box4 div, .bounding-box5 div {
	transition-duration: 15s;
}

.bounding-box1{


    transform: scale(1.5);
}

.bounding-box2{
  transform: scale(2.5);
}
.bounding-box3{
 transform: scale(2.7);
}
.bounding-box4{
    transform: scale(1);
}

.bounding-box5{
    transform: scale(1);
}


.bounding-box1 div:hover, .bounding-box2 div:hover, .bounding-box3 div:hover, .bounding-box4 div:hover, .bounding-box5 div:hover {
	background-color:  #242424;
	transform: scaleX(3);
	transform: skew(30deg);
	transition-duration: 100ms
}
/* Rectangle 27 */

.p1{ position: absolute;
width: 25px;
height: 25px;
left: 40px;
top: 40px;

background: #F21363;
}

/* Rectangle 100 */
.p2{
position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 160px;

background: #F21363;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 31 */
.p3{
position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 40px;

background: #F21363;
}



/* Rectangle 106 */
.p4{
position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 180px;

background: #F21363;

}


/* Rectangle 16 */
.p5{
position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 20px;

background: #F21363;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}


/* Rectangle 33 */
.p6{
position: absolute;
width: 25px;
height: 25px;
left: 140px;
top: 40px;

background: #F21363;
}



/* Rectangle 19 */
.p7{
position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 20px;

background: #F21363;

}


/* Rectangle 39 */
.p8{
position: absolute;
width: 25px;
height: 25px;
left: 120px;
top: 40px;

background: #F21363;
}



/* Rectangle 43 */
.p9{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 40px;

background: #F21363;

}


/* Rectangle 67 */
.p10{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 80px;

background: #F21363;

}


/* Rectangle 91 */
.p11{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 120px;

background: #F21363;

}


/* Rectangle 124 */
.p12{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 180px;

background: #F21363;

}


/* Rectangle 44 */
.p13{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 60px;

background: #F21363;
}



/* Rectangle 129 */
.p14{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 60px;

background: #F21363;


}

/* Rectangle 130 */
.p15{
position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 60px;

background: #F21363;

}


/* Rectangle 131 */
.p16{
position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 80px;

background: #F21363;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* Rectangle 68 */
.p17{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 100px;

background: #F21363;
}



/* Rectangle 125 */
.p18{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 160px;

background: #F21363;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}


/* Rectangle 92 */
.p19{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 140px;

background: #F21363;
}



/* Rectangle 46 */
.p20{
position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 60px;

background: #F21363;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




/* Rectangle 133 */
.p21{
position: absolute;
width: 25px;
height: 25px;
left: 120px;
top: 100px;

background: #F21363;
}



/* Rectangle 132 */
.p22{
  position: absolute;
width: 25px;
height: 25px;
left: 140px;
top: 80px;

background: #F21363;  
}



/* Rectangle 28 */
.i1{
position: absolute;
width: 25px;
height: 25px;
left: 90px;
top: 50px;

background: #35DCF3;
}



/* Rectangle 108 */
.i2{
position: absolute;
width: 25px;
height: 25px;
left: 130px;
top: 190px;

background: #35DCF3;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* Rectangle 147 */
.i3{
position: absolute;
width: 25px;
height: 25px;
left: 90px;
top: 190px;

background: #35DCF3;
}



/* Rectangle 152 */
.i4{
position: absolute;
width: 25px;
height: 25px;
left: 130px;
top: 50px;

background: #35DCF3;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}


/* Rectangle 155 */
.i5{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 50px;

background: #35DCF3;
}



/* Rectangle 156 */
.i6{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 90px;

background: #35DCF3;

}



/* Rectangle 166 */
.i7{
position: absolute;
width: 25px;
height: 25px;
left: 150px;
top: 30px;

background: #35DCF3;
}



/* Rectangle 157 */
.i8{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 130px;

background: #35DCF3;
}



/* Rectangle 158 */
.i9{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 190px;

background: #35DCF3;

}


/* Rectangle 159 */
.i10{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 70px;

background: #35DCF3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* Rectangle 160 */
.i11{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 110px;

background: #35DCF3;
}



/* Rectangle 161 */
.i12{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 170px;

background: #35DCF3;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* Rectangle 162 */
.i13{
position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 150px;

background: #35DCF3;
}



/* Rectangle 165 */
.i14{
   position: absolute;
width: 25px;
height: 25px;
left: 70px;
top: 170px;

background: #35DCF3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}


/* Rectangle 591 */
.x1{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 70px;

background: #9A48EC;   
}



/* Rectangle 596 */
.x2{
  position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 90px;

background: #9A48EC;  
}



/* Rectangle 598 */
.x3{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 130px;

background: #9A48EC;
   
}


/* Rectangle 602 */
.x4{
position: absolute;
width: 25px;
height: 25px;
left: 40px;
top: 30px;

background: #9A48EC;  
}



/* Rectangle 611 */
.x5{
 position: absolute;
width: 25px;
height: 25px;
left: 40px;
top: 190px;

background: #9A48EC;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);   
}



/* Rectangle 616 */
.x6{
position: absolute;
width: 25px;
height: 25px;
left: 120px;
top: 110px;

background: #9A48EC;

}



/* Rectangle 626 */
.x7{
 position: absolute;
width: 25px;
height: 25px;
left: 180px;
top: 30px;

background: #9A48EC;   
}



/* Rectangle 635 */
.x8{
  position: absolute;
width: 25px;
height: 25px;
left: 180px;
top: 190px;

background: #9A48EC;  
}



/* Rectangle 643 */
.x9{
position: absolute;
width: 25px;
height: 25px;
left: 20px;
top: 50px;

background: #9A48EC;

}



/* Rectangle 652 */
.x10{
position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 110px;

background: #9A48EC; 
}



/* Rectangle 656 */
.x11{
 position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 90px;

background: #9A48EC;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}


/* Rectangle 662 */
.x12{
position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 30px;

background: #9A48EC;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);  
}



/* Rectangle 663 */
.x13{
 position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 70px;

background: #9A48EC;
   
}


/* Rectangle 665 */
.x14{
   position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 170px;

background: #9A48EC; 
}



/* Rectangle 667 */
.x15{
 position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 50px;

background: #9A48EC;
}



/* Rectangle 669 */
.x16{
 position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 150px;

background: #9A48EC;   
}



/* Rectangle 671 */
.x17{
   position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 190px;

background: #9A48EC;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
}



/* Rectangle 674 */
.x18{
position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 30px;

background: #9A48EC;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);    
}



/* Rectangle 675 */
.x19{
position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 70px;

background: #9A48EC;

}



/* Rectangle 677 */
.x20{
  position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 170px;

background: #9A48EC;
  
}


/* Rectangle 679 */
.x21{
  position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 50px;

background: #9A48EC;  
}



/* Rectangle 681 */
.x22{
  position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 150px;

background: #9A48EC;  
}



/* Rectangle 683 */
.x23{
 position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 190px;

background: #9A48EC;   
}



/* Rectangle 692 */
.x24{
 position: absolute;
width: 25px;
height: 25px;
left: 140px;
top: 90px;

background: #9A48EC;   
}



/* Rectangle 693 */
.x25{
 position: absolute;
width: 25px;
height: 25px;
left: 140px;
top: 150px;

background: #9A48EC;   
}


/* Rectangle 694 */
.x26{
  position: absolute;
width: 25px;
height: 25px;
left: 140px;
top: 130px;

background: #9A48EC;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);  
}



/* Rectangle 701 */
.x27{
position: absolute;
width: 25px;
height: 25px;
left: 200px;
top: 170px;

background: #9A48EC;  
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* Rectangle 27 */
.e1{
  position: absolute;
width: 25px;
height: 25px;
left: 50px;
top: 40px;

background: #56DB27;  
}



/* Rectangle 100 */
.e2{
  position: absolute;
width: 25px;
height: 25px;
left: 50px;
top: 180px;

background: #56DB27;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);  
}



/* Rectangle 31 */
.e3{
   position: absolute;
width: 25px;
height: 25px;
left: 90px;
top: 40px;

background: #56DB27; 
}



/* Rectangle 106 */
.e4{
    position: absolute;
width: 25px;
height: 25px;
left: 90px;
top: 180px;

background: #56DB27;

}


/* Rectangle 16 */
.e5{
 position: absolute;
width: 25px;
height: 25px;
left: 90px;
top: 20px;

background: #56DB27;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);   
}



/* Rectangle 108 */
.e6{
  position: absolute;
width: 25px;
height: 25px;
left: 90px;
top: 200px;

background: #56DB27;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}


/* Rectangle 33 */
.e7{
 position: absolute;
width: 25px;
height: 25px;
left: 150px;
top: 40px;

background: #56DB27;   
}



/* Rectangle 109 */
.e8{
  position: absolute;
width: 25px;
height: 25px;
left: 150px;
top: 180px;

background: #56DB27;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);  
}



/* Rectangle 34 */
.e9{
    position: absolute;
width: 25px;
height: 25px;
left: 150px;
top: 60px;

background: #56DB27;
}



/* Rectangle 110 */
.e10{
   position: absolute;
width: 25px;
height: 25px;
left: 150px;
top: 160px;

background: #56DB27; 
}



/* Rectangle 19 */
.e11{
  position: absolute;
width: 25px;
height: 25px;
left: 70px;
top: 20px;

background: #56DB27;
  
}


/* Rectangle 117 */
.e12{
   position: absolute;
width: 25px;
height: 25px;
left: 70px;
top: 200px;

background: #56DB27;
 
}


/* Rectangle 39 */
.e13{
   position: absolute;
width: 25px;
height: 25px;
left: 130px;
top: 40px;

background: #56DB27;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
}



/* Rectangle 118 */
.e14{
   position: absolute;
width: 25px;
height: 25px;
left: 130px;
top: 180px;

background: #56DB27; 
}



/* Rectangle 40 */
.e15{
    position: absolute;
width: 25px;
height: 25px;
left: 130px;
top: 60px;

background: #56DB27;
}



/* Rectangle 64 */
.e16{
  position: absolute;
width: 25px;
height: 25px;
left: 130px;
top: 100px;

background: #56DB27;  
}



/* Rectangle 119 */
.e17{
    position: absolute;
width: 25px;
height: 25px;
left: 130px;
top: 160px;

background: #56DB27;
}



/* Rectangle 43 */
.e18{
 position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 40px;

background: #56DB27;   
}



/* Rectangle 67 */
.e19{
    position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 80px;

background: #56DB27;
}



/* Rectangle 91 */
.e20{
   position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 120px;

background: #56DB27; 
}



/* Rectangle 124 */
.e21{
   position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 180px;

background: #56DB27; 
}



/* Rectangle 44 */
.e22{
   position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 60px;

background: #56DB27;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}



/* Rectangle 68 */
.e23{
 position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 100px;

background: #56DB27;   
}



/* Rectangle 125 */
.e24{
   position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 160px;

background: #56DB27;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
}



/* Rectangle 92 */
.e25{
   position: absolute;
width: 25px;
height: 25px;
left: 110px;
top: 140px;

background: #56DB27; 
}



/* Rectangle 45 */
.e26{
 position: absolute;
width: 25px;
height: 25px;
left: 170px;
top: 40px;

background: #56DB27;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}


/* Rectangle 127 */
.e27{
  position: absolute;
width: 25px;
height: 25px;
left: 170px;
top: 180px;

background: #56DB27;
  
}


/* Rectangle 70 */
.e28{
   position: absolute;
width: 25px;
height: 25px;
left: 170px;
top: 100px;

background: #56DB27;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
}



/* Rectangle 58 */
.e29{
  position: absolute;
width: 25px;
height: 25px;
left: 150px;
top: 100px;

background: #56DB27;
  
}
*/


/* Rectangle 26 */
.l1{
 position: absolute;
width: 25px;
height: 25px;
left: 20px;
top: 60px;

background:white;   
}



/* Rectangle 27 */
.l1{
 position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 40px;

background: white;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 100 */
.l2{
 position: absolute;
width: 25px;
height: 25px;
left: 100px;
top: 180px;

background: white;
}

/* Rectangle 29 */

.l3{
 position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 40px;

background: white;
}

/* Rectangle 103 */

.l4{
 position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 180px;

background: white;
}

/* Rectangle 30 */
.l5{
 position: absolute;
width: 25px;
height: 25px;
left: 60px;
top: 60px;

background: white;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 106 */

.l6{
 position: absolute;
width: 25px;
height: 25px;
left: 140px;
top: 180px;

background: white;
}

/* Rectangle 109 */
.l7{
 position: absolute;
width: 25px;
height: 25px;
left: 200px;
top: 180px;

background: white;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 110 */
.l8{
 position: absolute;
width: 25px;
height: 25px;
left: 200px;
top: 160px;

background: white;
}

/* Rectangle 35 */

.l9{
 position: absolute;
width: 25px;
height: 25px;
left: 40px;
top: 40px;

background: white;
}

/* Rectangle 115 */

.l10{
 position: absolute;
width: 25px;
height: 25px;
left: 120px;
top: 180px;

background: white;
}

/* Rectangle 118 */
.l11{
 position: absolute;
width: 25px;
height: 25px;
left: 180px;
top: 180px;

background: white;
}

/* Rectangle 119 */

.l12{
 position: absolute;
width: 25px;
height: 25px;
left: 180px;
top: 160px;

background: white;
}

/* Rectangle 88 */

.l13{
 position: absolute;
width: 25px;
height: 25px;
left: 180px;
top: 140px;

background: white;

}
/* Rectangle 41 */

.l14{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 40px;

background: white;
}

/* Rectangle 65 */

.l15{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 80px;

background: white;

}
/* Rectangle 89 */
.l16{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 120px;

background: white;

}
/* Rectangle 121 */

.l17{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 180px;

background: white;
}

/* Rectangle 42 */

.l18{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 60px;

background: white;
}

/* Rectangle 66 */

.l19{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 100px;

background: white;
}

/* Rectangle 122 */

.l20{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 160px;

background:  white;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 90 */

.l21{
 position: absolute;
width: 25px;
height: 25px;
left: 80px;
top: 140px;

background:  white;
}

/* Rectangle 124 */

.l22{
 position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 180px;

background: white;
}

/* Rectangle 92 */

.l23{
 position: absolute;
width: 25px;
height: 25px;
left: 160px;
top: 140px;

background:  white;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);


}









